@use 'styles/desktop/base/variables' as *;

.cards-list {
  background: transparent;
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  border-bottom: none;
  margin-left: -15px;
  width: calc(100% + 30px);
}

.cards-list-slider {
  margin: 32px 0;
  [class*="item-card"] {
    width: 100%;
    height: 100%;
  }
  .cards-list-slider-wrap {
    padding: 0 60px;
  }
  :global(.swiper-slide) {
    height: auto;
  }
}
