@use 'styles/desktop/base/variables' as *;

.tile-section {
  margin-bottom: 15px;
  table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 10px;
    td {
      border-radius: 4px;
      padding: 8px 15px;
      white-space: pre-wrap;
      ul {
        padding-left: 15px;
      }
    }
    button, a {
      background: $color-theme;
      color: #fff;
      border-radius: 4px;
      font-size: 12px;
      font-weight: 700;
      padding: 5px 13px;
    }
    tbody {
      tr {

        &:nth-child(even) {
          td {
            background: #F0F4FF;
          }
        }
        &:nth-child(odd) {
          td {
            background: #fff;
          }
        }
        &:first-child {
          color: #fff;
          td {
            font-weight: 700;
            padding: 8px 15px;
            background: #8DA4EF;
            white-space: nowrap;
            margin-bottom: 8px;
            text-align: left;
            &:first-child {
              border-radius: 4px 0 0 4px;
            }
            &:last-child {
              border-radius: 0 4px 4px 0;
            }
          }
        }
      }
    }
  }
}
