@use "variables" as *;

.btn {
  display: block;
  &.primary,&.primary-sm {
    background: $color-theme;
    color: #fff;
    border-radius: 4px;
    text-align: center;
    padding: 12px;
    display: inline-block;
    font-weight: 700;
    font-size: 16px;
  }
  &.light,&.light-sm {
    border: 1px solid $color-theme;
    padding: 12px;
    color: #000;
    border-radius: 4px;
    font-weight: 700;
    text-align: center;
    font-size: 16px;
  }
  &.light-sm,&.primary-sm {
    padding: 8px;
    font-size: 14px;
  }
  .ico {
    margin-left: 8px;
    vertical-align: middle;
    line-height: 0;
  }
}