@use 'styles/desktop/base/variables' as *;

.list-actions {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  margin: 16px 0;
}
.list-actions-row {
  .list-actions {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 12px;
  }
  &.justify-content-center {
    .list-actions {
      justify-content: center;
    }
  }
}

.tile-section {
  margin-left: -15px;
  width: calc(100% + 30px);
  padding: 15px;
  border: none;

  .text-content {
    ul,ol {
      padding-left: 30px;
      list-style: initial;
      li {
        color: #707070;
        strong {
          color: #000;
          font-weight: 400;
        }
      }
    }
    h3 {
      font-weight: 600;
      font-size: 18px;
      margin: 15px 0;
    }
  }
}

.list-online-casino {
  margin: 15px 0;
  row-gap: 16px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
  .item-casino {
    border-radius: 4px;
    padding: 15px;
    border: 1px solid $color-theme;
    .text {
      color : #707070;
      font-size: 14px;
    }
    .title {
      color: $color-theme;
    }
  }
}
